<!DOCTYPE html>

<html>

<head>
  <title>Cats Fact!</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class = "mainContent">
    <h1>Cat Fact!</h1>

    <p id = "appDescription">
      Use this app to send a cat fact to a friend
    </p>

    <br>

    <p>
      <b>Cat Fact:</b>
    </p>

    <p id = "catFact">
    </p>

    <form id="factForm">
      <button>New Cat Fact</button>
    </form>

    <br>
    <br>

    <p>
      Enter a friend's number who you would like to send this cat fact to
    </p>
    
    <form id="notificationForm">
      <input placeholder = '###-###-####'>
      <button>Send Cat Fact</button>
    </form>

  </div>

  <script src="/js/catFact.js"></script>
</body>

</html>
